@import "reset.css";
@import "header.css";
@import "footer.css";

@font-face {
  font-family: S-CoreDream-1;
  src:url("../font/SCDream1.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-3;
  src:url("../font/SCDream3.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-6;
  src:url("../font/SCDream6.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

body{
		background-image:url("/img/join_background_copy.jpg");
		font-family: S-CoreDream-3;
		color:#fff;	
	}
	
.container{
		overflow:hidden;
		margin-bottom:100px;
}

/*----------------login_first----------------------*/
.container > .login_first{
		width:800px;
		height:440px;
		margin: 0 auto;
		margin-top: 250px;
		/* position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%); */
		text-align:center;
	}	
	.login_first p{
		margin:20px auto;
		line-height:20px;
		font-size:18px;
	}
	
	.login_first .btn_group {
		width:510px;
		height:50px;
		margin:30px auto;
	}
	#tomain_btn, #signin_btn{
		width: 240px;
		height: 50px;
		border-radius: 24.5px;
		border:2px solid #fff;
		background:rgba(255,255,255,0);
		float:left;	
		color:#fff;
		font-size:18px;
	}
	#tomain_btn{
		margin-right:20px;
	}


/*---------------- signup_container ----------------*/
.container>.frame {
	margin: 0 auto;
	margin-top: 150px;
	width: 800px;
	height: 1000px;
	/* opacity: 0.5; */
	border-radius: 50px;
	box-shadow: 0px 30px 21px 0 rgba(64, 64, 64, 0.67);
	background-image: linear-gradient(to bottom, #051c29 14%, #051c29 14%, #405590 42%,
		#7283b3 63%, #576d95 68%, #425b7c 72%, #113245 86%);
	overflow: hidden;
}

.container>.frame>h2 {
	padding-top: 65px;
	padding-left: 92px;
	width: 245px;
	height: 94px;
	font-family: "s-core-dream-extrabold";
	font-size: 67.5px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.27;
	letter-spacing: normal;
	float: left;
}

.container>.frame .logo {
	padding-top: 50px;
	margin-right: 96px;
	width: 165px;
	height: 61px;
	font-family: "s-core-dream-thin";
	font-size: 43.9px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.27;
	letter-spacing: normal;
	float: right;
}

.container>.frame .intro {
	margin-right: 96px;
	clear: right;
	float: right;
	width: 100px;
	height: 25px;
	font-family: "s-core-dream-thin";
	font-size: 18px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.65;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.container>.frame .box1 {
	clear: both;
	display: block;
	width: 280px;
	height: 6px;
	background-color: #fff;
	margin-left: 66px;
	float: left;
}

.container>.frame .box2 {
	display: block;
	width: 388px;
	height: 3px;
	margin-top: 3px;
	background-color: #fff;
	float: left;
}
/* inner things */
.container>.frame>.input {
	overflow: hidden;
	clear: both;
	padding-top: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	height: 1000px;
	float: left;
}

.input form {
	width: 600px;
	height: 1000px;
}
.input .passchkgrp{
	height:80px;
}
.input .passchkgrp #compare_pass{
	clear:both;
	display:block;	
	width:200px;
	height:20px;
	
.input .form-group {
	width: 600px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	margin: 20px 0;
}

.input .form-group label {
	display: block;
	width: 200px;
	height: 35px;
	float: left;
	line-height: 35px;
}

.input .form-group input {
	width: 290px;
	height: 33px;
	float: left;
	line-height: 35px;
	margin-left: 30px;
}

.input .memPhone, .input .memPhone2 {
	height: 40px;
}

.input .memPhone label, .input .memPhone2 label {
	height: 40px;
	line-height: 20px;
}

.update_btn {
	width: 240px;
	height: 50px;
	opacity: 0.73;
	border-radius: 24.5px;
	background-color: #afde77;
	clear: both;
	margin: 30px 176px;
}



/* -----------------------------반응형 width 1450px------------------------------------- */
@media screen and (max-width: 1450px) {
  main .main1 .main1_left .left_text1 {
    font-size: 30px;
  }
  main .main1 .main1_left .left_text2 {
    padding: 25px 0 40px 0;
    font-size: 80px;
  }
  main .main1 .main1_left .left_text3 {
    font-size: 16px;
  }
  main .main1 .main1_right .right_text {
    font-size: 500px;
  }
  main .main2_right .right_text2 {
    font-size: 30px;
  }
}
