<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO WF_MEMBER( MEMID
							,MEMPASS
							,MEMNAME
							,MEMBIRTH
							,MEMPHONE
							,MEMPHONE2
							,MEMEMAIL
							,MEMADDR
							,MEMAUTHOR )
						VALUES(	#{memId}
							,#{memPass}
							,#{memName}
							,#{memBirth}
							,#{memPhone}
							,#{memPhone2}
							,#{memEmail}
							,#{memAddr}
							,#{memAuthor})	
    </insert>
    <insert id="reg_for_login">
    	INSERT INTO WF_MEM_LOGIN( MEMID
    							,MEMPASS
    							,MEMAUTHOR)
    						VALUES (#{memId}
    							   ,#{memPass}
    							   ,#{memAuthor})
    </insert>    
	<!-- 로그인 -->
	<select id="login" parameterType="com.waffle.vo.MemberVO" resultType="com.waffle.vo.MemberVO">
		SELECT *
		FROM WF_MEMBER
		WHERE MEMID = #{memId,jdbcType=VARCHAR}		
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		UPDATE WF_MEMBER SET
		    MEMPASS = #{memPass,jdbcType=VARCHAR}
		   ,MEMNAME = #{memName,jdbcType=VARCHAR}
		   ,MEMPHONE = #{memPhone,jdbcType=VARCHAR}
		   ,MEMPHONE2 = #{memPhone2,jdbcType=VARCHAR}
		   ,MEMEMAIL = #{memEmail,jdbcType=VARCHAR}
		   ,MEMADDR = #{memAddr,jdbcType=VARCHAR}
		WHERE MEMID = #{memId,jdbcType=VARCHAR}
	</update>
	<!-- 회원탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM WF_MEMBER
		WHERE MEMID = #{memId,jdbcType=VARCHAR}
		<!-- AND MEMPASS = #{memPass} -->
	</delete>
	<delete id="memberDeleteLogin">
		DELETE FROM WF_MEM_LOGIN
		WHERE MEMID = #{memId,jdbcType=VARCHAR}
	</delete>      
	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int">
		SELECT COUNT(*) FROM WF_MEMBER
		WHERE MEMID = #{memId} AND MEMPASS = #{memPass}
	</select>
	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*) FROM WF_MEMBER
		WHERE MEMID = #{memId}
	</select>
	<!-- 이메일 중복 체크 -->
	<select id="emailChk" resultType="int">
		SELECT COUNT(*) FROM WF_MEMBER
		WHERE MEMEMAIL = #{memEmail,jdbcType=VARCHAR}
	</select>
	<!--  관리자 페이지 -->
		<!-- 리스트에서 회원정보 보기 -->
    <select id="selectmember" resultType="com.waffle.vo.MemberVO" parameterType="com.waffle.vo.MemberVO">
		SELECT MEMID, MEMNAME , REGDATE, MEMAUTHOR 
		FROM WF_MEMBER
	</select>
	
	<!-- 회원 상세보기 -->
	<select id="readmember" parameterType="com.waffle.vo.MemberVO" resultType="com.waffle.vo.MemberVO">
		SELECT   MEMID
			   , MEMNAME
			   , MEMBIRTH
			   , MEMPHONE
			   , MEMPHONE2
			   , MEMADDR
			   , MEMEMAIL
			   , MEMAUTHOR
			   , REGDATE
		  FROM WF_MEMBER
		 WHERE memId = #{memId,jdbcType=VARCHAR}
	</select>
	<!-- 회원 삭제 -->
	<delete id="deleteInfo" parameterType="String">
		DELETE 
		  FROM WF_MEMBER
		 WHERE MEMID = #{memId}
	</delete>
		
	
	<!-- 회원 정보 수정 -->
 	<update id="updateinfo" parameterType="com.waffle.vo.MemberVO">
		UPDATE WF_MEMBER
		   SET   MEMNAME =  #{memName}
			   , MEMBIRTH =  #{memBirth}
			   , MEMPHONE =  #{memPhone}
			   , MEMPHONE2 =  #{memPhone2}
			   , MEMADDR =  #{memAddr}
			   , MEMEMAIL =  #{memEmail}
			   , MEMAUTHOR =  #{memAuthor,jdbcType=VARCHAR}
		 WHERE MEMID = #{memId} 
	</update>
	
	<!-- 비밀번호 초기화 -->
	<update id="pwdclear" parameterType="com.waffle.vo.MemberVO">
		UPDATE WF_MEMBER
		   SET MEMPASS = 1111
		   WHERE MEMID = #{memId}
	</update>
	
	<select id ="adminCheck" resultType="com.waffle.vo.MemberVO" parameterType="com.waffle.vo.MemberVO">
		SELECT MEMID
			 , MEMPASS
			 FROM WF_MEMBER
			 WHERE MEMAUTHOR = "1"
	</select>
</mapper>