<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	<!-- 게시판 글 작성 -->
	<insert id="insert" parameterType="com.waffle.vo.NoticeVO" useGeneratedKeys="true" keyProperty="nno">
	    <selectKey keyProperty="nno" resultType="int" order="BEFORE">
	    	SELECT NSEQ.NEXTVAL FROM DUAL
	    </selectKey>
	    INSERT INTO NOTICE(    NNO  
	   					       , NTITLE  
	   					       , NCONTENT 
	   					       , NWRITER  )
	                  VALUES(    #{nno}
	                 		   , #{ntitle}
	                 		   , #{ncontent}
	                 		   , #{nwriter}  )   
    </insert>
   
	<select id="listPage" resultType="com.waffle.vo.NoticeVO" parameterType="com.waffle.vo.NoticeSearchCri">
		SELECT  NNO, 
		        NTITLE, 
		        NCONTENT,
		        NWRITER, 
		        REGDATE
		 FROM ( 
		        SELECT NNO, 
		               NTITLE, 
		               NCONTENT, 
		               NWRITER, 
		               REGDATE, 
		               ROW_NUMBER() OVER(ORDER BY NNO DESC) AS RNUM
		         FROM NOTICE
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY NNO DESC
	</select>
	
	<select id="listCount" parameterType="com.waffle.vo.NoticeSearchCri" resultType="int">
		SELECT COUNT(NNO)
		   FROM NOTICE
		   WHERE 1=1
		<include refid="search"></include>	
		   AND NNO > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND NTITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND NCONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND NWRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (NTITLE LIKE '%' || #{keyword} || '%') or (NCONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<select id="read" parameterType="int" resultType="com.waffle.vo.NoticeVO">
		SELECT   NNO
			   , NTITLE
			   , NCONTENT
			   , NWRITER
			   , REGDATE
		  FROM NOTICE
		 WHERE NNO = #{nno}
	</select>
	
	<update id="update" parameterType="com.waffle.vo.NoticeVO">
		UPDATE NOTICE
		   SET NTITLE    =   #{ntitle},
		   	   NCONTENT  =   #{ncontent}
		 WHERE NNO = #{nno} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM NOTICE
		 WHERE NNO = #{nno}
	</delete>
   
   <!-- 첨부파일 업로드 -->
    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO NFILE(
			FILE_NO,
			NNO,
			ORG_FILE_NAME,
			STORED_FILE_NAME,
			FILE_SIZE
		)VALUES(
			FSEQ.NEXTVAL,
			#{NNO},
			#{ORG_FILE_NAME},
			#{STORED_FILE_NAME},
			#{FILE_SIZE}
		)
    </insert>
    
    <!-- 첨부파일 조회 -->
    <select id="selectFileList" parameterType="int" resultType="hashMap">
    	SELECT FILE_NO,
    		   ORG_FILE_NAME,
    		   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
    		   DEL_GB
    	  FROM NFILE
    	 WHERE NNO = #{NNO}
    	   AND DEL_GB = 'N'
    	 ORDER BY FILE_NO ASC
    </select>
    
    <!-- 첨부파일 다운 -->
    <select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
    	SELECT 
    		STORED_FILE_NAME,
    		ORG_FILE_NAME
    	FROM NFILE
    	WHERE FILE_NO = #{FILE_NO}
    </select>
    
    <!--첨부파일 삭제 시 DEL_GB를 Y로 바꿈 (N값이면 보여주고 Y값이면 보여주지 않는 식) -->
    <update id="updateFile" parameterType="hashMap">
    	UPDATE NFILE SET
    	DEL_GB = 'Y'
    	WHERE FILE_NO = #{FILE_NO}
    </update>
    
    <!-- 게시판 조회수 -->
    <update id="boardHit" parameterType="int">
    	UPDATE NOTICE SET
    	NHIT = NHIT+1
    	WHERE NNO = #{nno}
    </update>
</mapper>