@import "reset.css";
@import "header.css";
@import "footer.css";

@font-face {
  font-family: S-CoreDream-1;
  src:url("../font/SCDream1.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-3;
  src:url("../font/SCDream3.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: S-CoreDream-6;
  src:url("../font/SCDream6.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

body{
		background-image:url("/img/background_copy.jpg");		
		color:#fff;	
		font-family: S-CoreDream-3;		
	}
	
.container{
		overflow:hidden;
		margin-bottom:100px;
}

/*---------------- signup_container ----------------*/
.container>.frame {
	margin: 0 auto;
	margin-top: 150px;
	width: 800px;
	height: 740px;
	/* opacity: 0.5; */
	border-radius: 50px;
	box-shadow: 0px 30px 21px 0 rgba(64, 64, 64, 0.67);
	background-image: linear-gradient(to bottom, #051c29 14%, #051c29 14%, #405590 42%,
		#7283b3 63%, #576d95 68%, #425b7c 72%, #113245 86%);
	overflow: hidden;
}

.container>.frame>h2 {
	padding-top: 65px;
	padding-left: 92px;
	width: 345px;
	height: 94px;
	font-family: "s-core-dream-extrabold";
	font-size: 67.5px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.27;
	letter-spacing: normal;
	float: left;
}

.container>.frame .logo {
	padding-top: 50px;
	margin-right: 96px;
	width: 165px;
	height: 61px;
	font-family: "s-core-dream-thin";
	font-size: 43.9px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.27;
	letter-spacing: normal;
	float: right;
}

.container>.frame .intro {
	margin-right: 96px;
	clear: right;
	float: right;
	width: 100px;
	height: 25px;
	font-family: "s-core-dream-thin";
	font-size: 18px;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.65;
	letter-spacing: normal;
	text-align: left;
	color: #ffffff;
}

.container>.frame .box1 {
	clear: both;
	display: block;
	width: 280px;
	height: 6px;
	background-color: #fff;
	margin-left: 66px;
	float: left;
}

.container>.frame .box2 {
	display: block;
	width: 388px;
	height: 3px;
	margin-top: 3px;
	background-color: #fff;
	float: left;
}
/* inner things */
.container>.frame>.agreement {
	overflow: hidden;
	clear: both;
	padding-top: 20px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 600px;
	float: left;
}

.container>.frame>.agreement>ul {
	display: block;
	margin: 20px auto;
	float: left;
	width: 100%;
}

.container>.frame>.agreement>ul>li {
	float: left;
}

.container>.frame>.agreement>ul>li>a {
	color: #fff;
}

.container>.frame>.agreement>h3 {
	margin-bottom: 15px;
}

.container>.frame>.agreement>span {
	display: block;
	text-indent: 10px;
	font-size: 12px;
}

.container>.frame>.agreement>input {
	margin-left: 10px;
}

.container>.frame>.agreement>.terms {
	width: 600px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #f4f4f4;
	font-size: 16px;
	line-height: 50px;
	color: #111;
}

.terms .terms_list {
	/* position:absolute; */
	top: 0px;
	left: 0px;
}

.terms .terms_list>li {
	position: relative;
}

.terms .terms_list>li:nth-child(2) {
	top: 25px;
}

.terms .terms_list>li>span {
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
}

.terms .terms_list>li>a {
	position: absolute;
	top: 0;
	right: 20px;
}

#signin_btn, #cancle_btn {
	width: 236px;
	height: 49px;
	opacity: 0.73;
	border-radius: 24.5px;
	background-color: #aaa8d8;
	float: left;
	margin-top: 30px;
}

#cancle_btn {
	margin-left: 155px;
}

#signin_btn {
	margin-left: 15px;
	background-color: #afde77;
}

/* -----------------------------반응형 width 1450px------------------------------------- */
@media screen and (max-width: 1450px) {
  main .main1 .main1_left .left_text1 {
    font-size: 30px;
  }
  main .main1 .main1_left .left_text2 {
    padding: 25px 0 40px 0;
    font-size: 80px;
  }
  main .main1 .main1_left .left_text3 {
    font-size: 16px;
  }
  main .main1 .main1_right .right_text {
    font-size: 500px;
  }
  main .main2_right .right_text2 {
    font-size: 30px;
  }
}
